<a href="https://colab.research.google.com/github/PeterCullenBurbery/database-tools/blob/main/Database_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def transform_string(input_string):
    return input_string.replace(' ', '_').upper()

# Example usage:
result = transform_string("dog cat bird")
print(result)  # Output: DOG_CAT_BIRD

DOG_CAT_BIRD

In [3]:
def many_to_many_name(str1, str2):
    transformed_str1 = str1.replace(' ', '_').upper()
    transformed_str2 = str2.replace(' ', '_').upper()
    return f"{transformed_str1}_HAS_AND_BELONGS_TO_MANY_{transformed_str2}"

# Example usage:
result = many_to_many_name("cat dog bird", "pizza donut car")
print(result)  # Output: DOG_CAT_BIRD_HAS_AND_BELONGS_TO_MANY_PIZZA_DONUT_CAR

CAT_DOG_BIRD_HAS_AND_BELONGS_TO_MANY_PIZZA_DONUT_CAR

In [4]:
def many_to_many_DDL(str1, str2):
    # Transform the strings
    transformed_str1 = str1.replace(' ', '_').upper()
    transformed_str2 = str2.replace(' ', '_').upper()
    table_name = f"{transformed_str1}_HAS_AND_BELONGS_TO_MANY_{transformed_str2}"

    # Create the DDL statement
    ddl = f"""
CREATE TABLE {table_name} (
    {table_name}_ID RAW(16) DEFAULT sys_guID() PRIMARY KEY,
    {table_name} VARCHAR2(1000) NOT NULL,
    CONSTRAINT unique_joining_table_of_student_and_course UNIQUE ({table_name}),
    -- the not null constraint is important
    {transformed_str1}_ID RAW(16) NOT NULL,
    {transformed_str2}_ID RAW(16) NOT NULL,
    -- we add 2 foreign key constraints for many-to-many relationship
    FOREIGN KEY ({transformed_str1}_ID)
        REFERENCES {transformed_str1} ({transformed_str1}_ID),
    FOREIGN KEY ({transformed_str2}_ID)
        REFERENCES {transformed_str2} ({transformed_str2}_ID),
    -- we add a unique constraint
    UNIQUE ({transformed_str1}_ID, {transformed_str2}_ID),
    -- Additional columns for note and dates
    note VARCHAR2(4000),  -- General-purpose note field
    date_created TIMESTAMP(9) WITH TIME ZONE DEFAULT systimestamp(9) NOT NULL,
    date_updated TIMESTAMP(9) WITH TIME ZONE,
    date_created_or_updated TIMESTAMP(9) WITH TIME ZONE GENERATED ALWAYS AS (
        COALESCE(date_updated, date_created)
    ) VIRTUAL
);

CREATE OR REPLACE TRIGGER trigger_set_date_updated_{table_name}
BEFORE UPDATE ON {table_name}
FOR EACH ROW
BEGIN
    :new.date_updated := systimestamp;
END;
/"""
    return ddl

# Example usage:
result = many_to_many_DDL("cat dog bird", "pizza donut car")
print(result)

CREATE TABLE CAT_DOG_BIRD_HAS_AND_BELONGS_TO_MANY_PIZZA_DONUT_CAR (
    CAT_DOG_BIRD_HAS_AND_BELONGS_TO_MANY_PIZZA_DONUT_CAR_ID RAW(16) DEFAULT sys_guID() PRIMARY KEY,
    CAT_DOG_BIRD_HAS_AND_BELONGS_TO_MANY_PIZZA_DONUT_CAR VARCHAR2(1000) NOT NULL,
    CONSTRAINT unique_joining_table_of_student_and_course UNIQUE (CAT_DOG_BIRD_HAS_AND_BELONGS_TO_MANY_PIZZA_DONUT_CAR),
    -- the not null constraint is important
    CAT_DOG_BIRD_ID RAW(16) NOT NULL,
    PIZZA_DONUT_CAR_ID RAW(16) NOT NULL,
    -- we add 2 foreign key constraints for many-to-many relationship
    FOREIGN KEY (CAT_DOG_BIRD_ID)
        REFERENCES CAT_DOG_BIRD (CAT_DOG_BIRD_ID),
    FOREIGN KEY (PIZZA_DONUT_CAR_ID)
        REFERENCES PIZZA_DONUT_CAR (PIZZA_DONUT_CAR_ID),
    -- we add a unique constraint
    UNIQUE (CAT_DOG_BIRD_ID, PIZZA_DONUT_CAR_ID),
    -- Additional columns for note and dates
    note VARCHAR2(4000),  -- General-purpose note field
    date_created TIMESTAMP(9) WITH TIME ZONE DEFAULT systimestamp(9) NOT NULL,
    date_updated TIMESTAMP(9) WITH TIME ZONE,
    date_created_or_updated TIMESTAMP(9) WITH TIME ZONE GENERATED ALWAYS AS (
        COALESCE(date_updated, date_created)
    ) VIRTUAL
);

CREATE OR REPLACE TRIGGER trigger_set_date_updated_CAT_DOG_BIRD_HAS_AND_BELONGS_TO_MANY_PIZZA_DONUT_CAR
BEFORE UPDATE ON CAT_DOG_BIRD_HAS_AND_BELONGS_TO_MANY_PIZZA_DONUT_CAR
FOR EACH ROW
BEGIN
    :new.date_updated := systimestamp;
END;
/

In [5]:
# Example usage:
result = many_to_many_DDL("use case for joining", "database statement for joining")
print(result)

CREATE TABLE USE_CASE_FOR_JOINING_HAS_AND_BELONGS_TO_MANY_DATABASE_STATEMENT_FOR_JOINING (
    USE_CASE_FOR_JOINING_HAS_AND_BELONGS_TO_MANY_DATABASE_STATEMENT_FOR_JOINING_ID RAW(16) DEFAULT sys_guID() PRIMARY KEY,
    USE_CASE_FOR_JOINING_HAS_AND_BELONGS_TO_MANY_DATABASE_STATEMENT_FOR_JOINING VARCHAR2(1000) NOT NULL,
    CONSTRAINT unique_joining_table_of_student_and_course UNIQUE (USE_CASE_FOR_JOINING_HAS_AND_BELONGS_TO_MANY_DATABASE_STATEMENT_FOR_JOINING),
    -- the not null constraint is important
    USE_CASE_FOR_JOINING_ID RAW(16) NOT NULL,
    DATABASE_STATEMENT_FOR_JOINING_ID RAW(16) NOT NULL,
    -- we add 2 foreign key constraints for many-to-many relationship
    FOREIGN KEY (USE_CASE_FOR_JOINING_ID)
        REFERENCES USE_CASE_FOR_JOINING (USE_CASE_FOR_JOINING_ID),
    FOREIGN KEY (DATABASE_STATEMENT_FOR_JOINING_ID)
        REFERENCES DATABASE_STATEMENT_FOR_JOINING (DATABASE_STATEMENT_FOR_JOINING_ID),
    -- we add a unique constraint
    UNIQUE (USE_CASE_FOR_JOINING_ID, DATABASE_STATEMENT_FOR_JOINING_ID),
    -- Additional columns for note and dates
    note VARCHAR2(4000),  -- General-purpose note field
    date_created TIMESTAMP(9) WITH TIME ZONE DEFAULT systimestamp(9) NOT NULL,
    date_updated TIMESTAMP(9) WITH TIME ZONE,
    date_created_or_updated TIMESTAMP(9) WITH TIME ZONE GENERATED ALWAYS AS (
        COALESCE(date_updated, date_created)
    ) VIRTUAL
);

CREATE OR REPLACE TRIGGER trigger_set_date_updated_USE_CASE_FOR_JOINING_HAS_AND_BELONGS_TO_MANY_DATABASE_STATEMENT_FOR_JOINING
BEFORE UPDATE ON USE_CASE_FOR_JOINING_HAS_AND_BELONGS_TO_MANY_DATABASE_STATEMENT_FOR_JOINING
FOR EACH ROW
BEGIN
    :new.date_updated := systimestamp;
END;
/

In [9]:
def many_to_many_file_name(str1, str2):
    transformed_str1 = str1.replace(' ', '-').upper()
    transformed_str2 = str2.replace(' ', '-').upper()
    return f"{transformed_str1}-HAS-AND-BELONGS-TO-MANY-{transformed_str2}"

# Example usage:
result = many_to_many_file_name("cat dog bird", "pizza donut car")
print(result)  # Output: DOG_CAT_BIRD_HAS_AND_BELONGS_TO_MANY_PIZZA_DONUT_CAR

CAT-DOG-BIRD-HAS-AND-BELONGS-TO-MANY-PIZZA-DONUT-CAR

In [11]:
# Example usage:
result = many_to_many_file_name("use case for joining", "database statement for joining")
print(result)

USE-CASE-FOR-JOINING-HAS-AND-BELONGS-TO-MANY-DATABASE-STATEMENT-FOR-JOINING